services:
  mongodb:
    image: mongo:7
    container_name: bolao-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7
    container_name: bolao-redis
    restart: always
    ports:
      - "6379:6379"

  auth-service:
    build: .
    container_name: bolao-auth
    restart: always
    env_file:
      - .env.docker
    depends_on:
      - mongodb
      - redis
    ports:
      - "5001:5001"

volumes:
  mongo-data: